<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Publications" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%=t("publications.title")%></h1>
    <%= link_to t("publications.create"), new_publication_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="publications" class="min-w-full">
    <% @publications.each do |publication| %>
      <%= render publication %>

    <% end %>
  </div>
</div>
