<header class="flex justify-between items-center p-4">
    <section>
        <h1 class="text-xl font-bold">
            Showme
        </h1>
    </section>
    <nav>
        <p class="text-sm cursor-pointer hover:underline">change language</p>
    </nav>
</header>
